body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center{
    background: rgb(0,68,4);
    background: linear-gradient(90deg, rgba(0,68,4,1) 0%, rgba(12,134,12,1) 50%, rgba(0,255,35,1) 100%);;
    border-radius: 10px;
    flex-wrap:nowrap;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color:rgba(0,68,4,1);
    font-weight: bold;
}
a:link{
    text-decoration: none;
    color:rgba(0,68,4,1);
}
a:hover{
    color:black;
    border: solid;
    background-color:rgb(0,255,35);
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
}
.nome{
    font-weight: bold;
    color:rgba(0,68,4,1);
    font-size:25px ;
    background-color: #ACE1AF;
    border-radius: 10px;
    padding: 10px;
}
.menu{
    padding: 15px;
    font-size: 15px;
    color:rgb(0,255,35);
}
.categorias1{
    background: rgb(0,255,35);
    font-size: 25px;
    padding: 20px;
    width: 106px;
    display: flex;
    justify-content:space-between;
    margin: 25px 50px;
    border-radius: 10px;
}
.categorias2{
    background: rgb(0,255,35);
    font-size: 27px;
    padding: 20px;
    width: 54px;;
    display: flex;
    justify-content: space-between;
    margin: 25px 50px;
    border-radius: 10px;
}
.categorias3{
    background: rgb(0,255,35);
    font-size: 30px;
    padding: 20px;
    width: 130px;
    display: flex;
    justify-content:space-between;
    margin: 25px 50px;
    border-radius: 10px;
}
.categorias4{
    background: rgb(0,255,35);
    font-size: 30px;
    padding: 20px;
    width: 70px;
    display: flex;
    justify-content: space-between;
    margin: 25px 50px;
    border-radius: 10px;
}