@import url('https://fonts.googleapis.com/css2? família=Open+Sans&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Open Sans', sans-serif;
}
.center{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    align-items: center
}
.home{
    text-align: right;
}
.home ul{
    text-align: center;
    font-size: 19px;
    list-style-type: none;
}
.home ul li{    
    font-weight: bold;
    padding: 2%;
    display: inline-block;
}
.home ul a{
    text-decoration: none;
    color: rgb(0, 0, 36);
}
.home ul a:hover{
    color: orangered;
}
.Encomenda{
    text-align: center;
    background-image: url(https://biscoitospereirat4.com.br/imagens/site/textura_encomenda.jpg);
    align-items: center;
    padding: 2%;
    margin: 5% auto;
    width: 80%;
    border: 2px rgb(161, 46, 4) solid;
    font-size: 30px;
    font-weight: bold;
    color: orangered;
}
footer{
    border-top: 2px solid black;
    background-color: rgb(255, 224, 167);
}
.RedesLogo{
    display:flex;
    align-items: center;
}
.Redes{
    text-align: center;
}
#redes{
    padding: 15% 0%;
}
.Redes #redes a:hover{
    opacity:0.5; 
}
.direitos{
    text-align: center;
    padding: 1%;
}