@import url('https://fonts.googleapis.com/css2? família=Open+Sans&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}
.center{
}
#logo{
    text-align: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 5%;
}
#menu ul{
    list-style-type: none;
    background-color: rgb(66, 65, 65);
    padding: 0;
    display: flex;
    align-items: center;
}
#rodas{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
#menu ul li a{
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 30px;
    transition: .4s;
}
#menu ul li a:hover{
    color: white;
    background-color: rgb(93, 93, 226);
    -webkit-box-shadow:0 3px 10px 0 rgb(93, 93, 226);
}
.Loja-Rodas{
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    margin: 5% auto;
    text-align: center;
}
#nome{
    padding: 1%;
    width: 60%;
}
#valor{
    font-weight: bold;
    font-size: 30px;
}
.Loja-Rodas a{
    text-decoration: none;
    color: black;
}
.Loja-Rodas a:hover{
    color:rgb(8, 8, 160) ;
    opacity:0.9; 
}
footer{
    border-top: 2px solid black;
    background-color: rgb(195, 204, 245);
}
.RedesLogo{
    display:flex;
    align-items: center;
}
.Redes{
    text-align: center;
}
#redes{
    padding: 15% 0%;
}
.Redes #redes a:hover{
    opacity:0.5; 
}
.direitos{
    text-align: center;
    padding: 1%;
}